body{ 
    font-size: 40;
    background: #eaeaea;}
  
  h1{ color: white;
    background: black;
    font-family: sans-serif;
    }
  
  .left {
    width: 500px;
    float: left;
  }
  
  
  .right {
  
    width: 350px;
    float: right;
    border-style: solid;
   
  
  }
  
  body{}
  